
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Add Activity</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <br/>


  <ion-input #name type="text" label="name" label-placement="stacked" fill="outline"></ion-input>
  <br/>
  <ion-input #description type="text" label="description" label-placement="stacked" fill="outline"></ion-input>
  <br/>
  <ion-input type="text" label="color" label-placement="stacked" fill="outline"></ion-input>
  <br/>
  <ion-item>
    <ion-label>Begin</ion-label>
    <ion-datetime-button #dateBegin slot ="end" datetime="time" (change)="log(dateBegin)" ></ion-datetime-button>
  </ion-item>
  <ion-item>
    <ion-label>End</ion-label>
    <ion-datetime-button  slot ="end" datetime="time"></ion-datetime-button>
  </ion-item>


  <ion-modal [keepContentsMounted]="true">
    <ng-template>
      <ion-datetime   #dateBegin id="time" presentation="time"></ion-datetime>
    </ng-template>

  </ion-modal>

  <ion-button (click)="add(name.value,description.value)">Add</ion-button>


</ion-content>
