
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Add Activity</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <br/>


  <ion-input #name
             required
             type="text"
             label="name"
             label-placement="stacked"
             fill="outline"
             placeholder="type activity name"></ion-input>
  <br/>
  <ion-input #description type="text" label="description" label-placement="stacked" fill="outline" placeholder="type activity description"></ion-input>
  <br/>
  <ion-input type="text" label="color" label-placement="stacked" fill="outline"></ion-input>
  <br/>
  <ion-item>
    <ion-label>Begin</ion-label>
    <ion-datetime-button slot ="end" datetime="timeBegin"  ></ion-datetime-button>
  </ion-item>
  <ion-item>
    <ion-label>End</ion-label>
    <ion-datetime-button  slot ="end" datetime="timeEnd"></ion-datetime-button>
  </ion-item>


  <ion-modal [keepContentsMounted]="true">
    <ng-template>

      <ion-datetime   #beginTime id="timeBegin" presentation="time" (ionChange)="checkBeginTime(beginTime)"></ion-datetime>
    </ng-template>gin

  </ion-modal>
  <ion-modal [keepContentsMounted]="true">
    <ng-template>
      <ion-datetime   #endTime id="timeEnd" presentation="time" (ionChange)="checkEndTime(endTime)"></ion-datetime>
    </ng-template>

  </ion-modal>

  <ion-button (click)="add(name.value??'',description.value?? '')">Add</ion-button>


</ion-content>
