

<ion-content  class="ion-padding">
  <form>
    <h1>Create account</h1>
    <p>Already have an account? <a href="#">Login</a></p>
    <ion-input type="text" label="Full name" label-placement="stacked" fill="outline"></ion-input>
    <br/>
    <ion-input type="email" label="email" label-placement="stacked" fill="outline"></ion-input>
    <br/>
    <ion-input type="password" label="password" label-placement="stacked" fill="outline"></ion-input>
    <br/>
    <ion-input type="password" label="confirm password" label-placement="stacked" fill="outline"></ion-input>
    <br/>
    <ion-button expand="block" color="primary">Register</ion-button>
  </form>
</ion-content>
