<ion-content >



  <ion-datetime presentation="date" [preferWheel]="true" #date (ionChange)="getDate(date.value)"></ion-datetime>
  <div>
      @for(activity of activities; track activity.id;let index=$index){

              <div style="height:{{emptySlot(index)*2}}px"></div>

              <app-activity [activity]="activity"></app-activity>


      }
  </div>
  <div style="height: {{lastEmptySlot()*2}}px"></div>



  <ion-fab slot="fixed" horizontal="end" vertical="bottom" >
    <ion-fab-button [routerLink]="['/','addActivity']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>





</ion-content>
