<ion-content class="ion-padding">
  <!-- Calendar Header -->
  <div class="calendar-header">
    <ion-text color="medium">
      <h2>24</h2>
      <p>Jan 2024</p>
    </ion-text>
    <ion-button fill="clear" color="primary">Today</ion-button>
  </div>

  <!-- Calendar Days -->
  <ion-row class="calendar-days">
    <ion-col *ngFor="let day of ['22', '23', '24', '25', '26', '27']">
      <div [class.active]="day === '24'">{{day}}</div>
    </ion-col>
  </ion-row>

  <!-- Schedule List -->
  <ion-list>
    <ion-item-group>
      <ion-item-divider sticky>
        <ion-label>11:15</ion-label>
      </ion-item-divider>
      <ion-item lines="none" class="schedule-item mathematics">
        <ion-label>
          <h2>Mathematics</h2>
          <p>Algebra Introduction</p>
          <ion-text color="medium">
            <ion-icon name="location-outline"></ion-icon> Room B-205
          </ion-text>
          <ion-text color="medium">
            <ion-icon name="person-outline"></ion-icon> Brandon Williamson
          </ion-text>
        </ion-label>
      </ion-item>
    </ion-item-group>





  </ion-list>
  <ion-datetime presentation="date"></ion-datetime>
  <ion-datetime presentation="date-time" [preferWheel]="true"></ion-datetime>
  <div class="scrolling-wrapper">
    <div class="card"><h2>Card</h2></div>
    <div class="card"><h2>Card</h2></div>
    <div class="card"><h2>Card</h2></div>
    <div class="card"><h2>Card</h2></div>
    <div class="card"><h2>Card</h2></div>
    <div class="card"><h2>Card</h2></div>
    <div class="card"><h2>Card</h2></div>
    <div class="card"><h2>Card</h2></div>
    <div class="card"><h2>Card</h2></div>
  </div>

  <!-- Tab Bar -->
  <ion-tab-bar slot="bottom">
    <ion-tab-button>
      <ion-icon name="calendar-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button>
      <ion-icon name="document-text-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button>
      <ion-icon name="add-circle-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button>
      <ion-icon name="chatbubbles-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button>
      <ion-icon name="person-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-content>
